@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@400;500;600;700&display=swap');

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ROOT VARIABLES */
:root {
    --title-color: #f15bb5;

}




/* BODY STYLES */
body {
    background-color: #f7dfdf;
    font-family: 'Akshar', sans-serif;
}

svg {
    position: absolute;
    z-index: -100;
    width: 100%;
}





/* MAIN STYLES */
.fa-github {
    color: #1837ea;
    transition: .2s ease-in;
    cursor: pointer;
}

.fa-github:hover {
    color: #000;
}

h1 {
    font-size: 36px;
    margin-bottom: 1.6rem;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.5rem;
}

.chrono__container {
    width: 450px;
    height: 240px;
    border: 2px solid #000;
    background-color: #fff;
    text-align: center;
}

.chrono {
    margin: 3rem 0 1.5rem 0;
    font-size: 30px;
    font-weight: 700;
}

.btn__start {
    max-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #2c0b8e;
    background: #2c0b8e;
    margin-right: .3rem;
}


.btn__start:hover {
    background: #fff;
    color: #2c0b8e
}

.btn__reset {
    max-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #f01818;
    background: #f01818;
}

.btn__reset:hover {
    background: #fff;
    color: #f01818;
}

.btn__change {
    max-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #1859f0;
    background: #1859f0;
    margin-right: .3rem;
}

.btn__change:hover {
    background: #fff;
    color: #1859f0;
}

.github {
    margin-top: 1rem;
}



/* MEDIA QUERIES */
@media screen and (min-width: 320px) and (max-width:480px) {
    
    .chrono__container {
        width: 300px;
        height: 360px;
    }

    .buttons__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 100px;
        margin: .7rem 0 .7rem 0;
    }

    

}